# .gitignore

# Ignore Replit specific files
.replit

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
.Python

# Ignore virtual environments
venv/
*.venv
.env
.venv/
ENV/
env.bak/
PythonENV/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore data files
data/

# Ignore plugins folder
plugins/

# Ignore logs
logs/
*.log

# Ignore local configuration files
.local/
.vscode/

# Ignore macOS specific files
.DS_Store
._*
.Spotlight-V100
.Trashes
