<!DOCTYPE html>
<html>
<head>
  <title>Swagger to ChatGPT Converter</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery, Popper.js, and Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
  <div class="container">
    <h1 class="text-center my-4">ChatGPT Plugin Creator - From Swagger</h1>
    <div class="card">
      <div class="card-body">
        <form action="/" method="post" enctype="multipart/form-data">
              <div class="form-group">
              <label for="swagger_file">Upload your Swagger file:</label>
              <input type="file" class="form-control-file" id="swagger_file" name="swagger_file" accept=".yaml,.yml" required>
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-primary" value="Convert">
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>